{% extends 'layout/basic.html' %}
{% load static %}
{% block title %}用户注册{% endblock %}

{% block css %}
    <style>
        .account {
            width: 400px;
            margin: 0 auto;
        }
    </style>

{% endblock %}

{% block content %}

<div class="container">
<div class="account">
    <h1>注册</h1>
    <form>
        {% for foo in form %}
            {% if foo.name == 'code' %}
                <div class="form-group">
                    <label for="{{ foo.id_for_label }}">{{ foo.label }}</label>
                    <div class="clearfix">
                        <div class="col-md-6" style="padding-left: 0">{{ foo }}</div>
                        <div class="col-md-6">
                            <input type="button" class="btn btn-info" value="点击获取验证码">
                        </div>
                    </div>

                </div>
            {% else %}
                <div class="form-group">
                    <label for="{{ foo.id_for_label }}">{{ foo.label }}</label>
                    {{ foo }}
                </div>
            {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-primary">注 册</button>
    </form>
</div>
</div>
{% endblock %}

{% block js %}
{% endblock %}







